:root {
    --bg_h: #1d2021;
    --bg:   #282828;
    --bg_s: #32302f;
    --bg1:  #3c3836;
    --bg2:  #504945;
    --bg3:  #665c54;
    --bg4:  #7c6f64;
  
    --fg:  #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;
  
    --red:    #fb4934;
    --green:  #b8bb26;
    --yellow: #fabd2f;
    --blue:   #83a598;
    --purple: #d3869b;
    --aqua:   #8ec07c;
    --gray:   #928374;
    --orange: #fe8019;
  
    --red-dim:    #cc2412;
    --green-dim:  #98971a;
    --yellow-dim: #d79921;
    --blue-dim:   #458588;
    --purple-dim: #b16286;
    --aqua-dim:   #689d6a;
    --gray-dim:   #a89984;
    --orange-dim: #d65d0e;
  }
  
  /* Normal Colors */
  
  .red {
    color: var(--red);
  }
  
  .green {
    color: var(--green);
  }
  
  .yellow {
    color: var(--yellow);
  }
  
  .blue {
    color: var(--blue);
  }
  
  .purple {
    color: var(--purple);
  }
  
  .aqua {
    color: var(--aqua);
  }
  
  .gray {
    color: var(--gray);
  }
  
  .orange {
    color: var(--orange);
  }
  
  /* Dim Colors */
  
  .red-dim {
    color: var(--red-dim);
  }
  
  .green-dim {
    color: var(--green-dim);
  }
  
  .yellow-dim {
    color: var(--yellow-dim);
  }
  
  .blue-dim {
    color: var(--blue-dim);
  }
  
  .purple-dim {
    color: var(--purple-dim);
  }
  
  .aqua-dim {
    color: var(--aqua-dim);
  }
  
  .gray-dim {
    color: var(--gray-dim);
  }
  
  .orange-dim {
    color: var(--orange-dim);
  }
  
  /* Foreground Colors */
  
  .fg {
    color: var(--fg);
  }
  
  .fg1 {
    color: var(--fg1);
  }
  
  .fg2 {
    color: var(--fg2);
  }
  
  .fg3 {
    color: var(--fg3);
  }
  
  .fg4 {
    color: var(--fg4);
  }
  
  /* Background Colors */
  
  .bg-hard {
    color: var(--bg_h);
  }
  
  .bg {
    color: var(--bg);
  }
  
  .bg-soft {
    color: var(--bg_s);
  }
  
  .bg1 {
    color: var(--bg1);
  }
  
  .bg2 {
    color: var(--bg2);
  }
  
  .bg3 {
    color: var(--bg3);
  }
  
  .bg4 {
    color: var(--bg4);
  }
.bgbak {
    background-color: (101, 80, 73);
    color: yellowgreen;
    color: darksalmon;
    background-color: rgb(84, 68, 63);
    background-color: antiquewhite;
}
body {
    background-color: var(--bg);
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}
h1 {
    height: min-content;
    width: fit-content;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    color:var(--green);
    background-color: var(--bg3);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    position:relative;
    left: 10%;

  }
button {
    padding: 0.5rem;
    border-radius: 1rem;
    border-style:hidden;
    color:var(--fg);
    background-color: var(--bg_s);
    transition: 0.3s;
}
button:hover {
    background-color: var(--gray);
}
input {
    text-align: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    border-width: 0;
    color:var(--fg);
    background-color: var(--bg4);
    transition: 0.3s;
}
input:focus {
    all:unset;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-align: center;
    transition: 0.3s;
    color:var(--yellow);
}
#login #inputs{
    position: relative;
    left: 30%;
}
#login #buttons {
    padding-top: 1rem;
    position: relative;
    left: 35%;
}
#chat {
    position: relative;
    visibility: hidden;
    left: 10%;
    width: 80%;
    word-wrap: break-word;
    overflow: hidden;
    
}
#log {
    color: var(--fg);
    visibility: visible;
}
select {
    border:0;
    border-radius: 1rem;
    background-color: var(--bg4);
    color: var(--fg)
}
#roomSelector {
  visibility: hidden;
}
#roomCreate {
  visibility: hidden;
}